.box{
    height: 5px;
    width: 5px;
    border: 1px solid rgb(241, 239, 239);
}
.box:hover{
    background-color: black;
}

.row{
    display: flex;
}

#menu{
    height: 50px;
    display: flex;
    align-items: center;;
}