.page{
    width: 100vw;
    height: 100vh;
    background-color: rgb(73, 11, 11);
    display: flex;
    justify-content: center;
}

.map{
    background-image: url('./paper-backgroup.jpg');
    height: 90vh;
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.closed-map{
    width: 300px;
    border: 1px solid rgb(211, 172, 128);
}

.map-middle{
    width: 1200px;
    background-image: url('./blueprint.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}

.side-1{
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: rgba(214, 153, 61, .8) 0px 8px 24px;
}
.side-2{
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: rgba(214, 153, 61, 0.8) 0px 8px 24px;
}
.map-cover-pic1{
    position: relative;
    left: 26px;
}
.map-cover-pic2{
    position: relative;
    right: 275px;
}
.middle{
    border: 1px solid rgb(211, 172, 128);
    width: 600px;
    margin: auto;
    height: 100%;
    box-shadow: rgba(214, 153, 61, 0.5) 0px 8px 24px;
}


