.page{
    height: 100vh;
    width: 100vw;
    background-color: red;
    display: flex;
    justify-content: center;
}

.map{
    background-image: url('./paper-backgroup.jpg');
    display: flex;
    justify-content: center;
}
.closed-map{
    height: 100vh;
    width: 300px;
    border: 1px solid rgb(83, 48, 8);
}

.map-middle{
    height: 100vh;
    width: 1000px;

}

.side-1{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.side-2{
    overflow: hidden;
    display: flex;
    align-items: center;
}
.map-cover-pic1{
    position: relative;
    left: 26px;
}
.map-cover-pic2{
    position: relative;
    right: 275px;
}